@model IEnumerable<Practical_17.Models.Student>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if(User.IsInRole("Admin")){
	<p>
		<a asp-action="Create" class="btn btn-success btn-sm">Create New Student</a>
	</p>
	<table class="table table-light text-center table-striped">
		<thead class="table-dark">
			<tr>
				<th class="col-3">
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th class="col-3">
					@Html.DisplayNameFor(model => model.Standard)
				</th>
				<th class="col-3">
					@Html.DisplayNameFor(model => model.Age)
				</th>
				<th class="col-3">
					Actions
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td class="col-3">
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td class="col-3">
						@Html.DisplayFor(modelItem => item.Standard)
					</td>
					<td class="col-3">
						@Html.DisplayFor(modelItem => item.Age)
					</td>
					<td class="col-3">
						<a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
						<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success btn-sm">Details</a> |
						<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>

}
else {
	
	<table class="table table-light text-center table-striped">
		<thead class="table-dark">
			<tr>
				<th class="col">
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th class="col">
					@Html.DisplayNameFor(model => model.Standard)
				</th>
				<th class="col">
					@Html.DisplayNameFor(model => model.Age)
				</th>
				<th>
					Action
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td class="col">
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td class="col">
						@Html.DisplayFor(modelItem => item.Standard)
					</td>
					<td class="col">
						@Html.DisplayFor(modelItem => item.Age)
					</td>
					<td class="col-3">
						<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success btn-sm">Details</a> 
					</td>
				</tr>
			}
		</tbody>
	</table>

}